// Speed
$boardSlideSpeed: 1s;
$screwClickSpeed: 3s;
$armSwinSpeed: 10s;
$drillSwinSpeed: 8s;
$conveyorSpeed: 10s;
$nutsSpeed: 4s;

.about {
  .bg-container {
    position: relative;
    margin: 5px;
    overflow: hidden;
    svg {
      width: 100%;
    }
    img {
      max-width: 100%;
    }

    .partial {
      position: absolute;
    }

    img.ppl-movable {
      left: -100px;
      max-width: 220px;
      width: 15%;
      bottom: 8%;
    }

    img.nuts-movable {
      top: 46%;
      right: -5%;
      transform-box: view-box;
      width: 6%;
      max-width: 100px;
    }

    img.nuts-movable.moving {
      @media screen and (max-width: 960px)  {
        animation: NUTS_SHORT $nutsSpeed linear infinite;
      }
      @media screen and(min-width: 960px) {
        animation: NUTS_LONG $nutsSpeed linear infinite;
      }
    }
    
    img.ppl-movable.moving {
      transform-box: view-box;
      @media screen and (max-width: 960px)  {
        animation: CONVEYOR_SHORT $conveyorSpeed linear infinite;
      }
      @media screen and(min-width: 960px) {
        animation: CONVEYOR_LONG $conveyorSpeed linear infinite;
      }
    }

    img.conveyorPipeLayer {
      left: 0;
      bottom: 2%;
      width: 100%;
    }

    svg.partial.gateAbout {
      width: 14.6%;
      height: auto;
      left: -10px;
      bottom: 2%;
    }
    svg.machineArm {
      width: 36.8%;
      height: 48%;
      right: -3%;
      top: 10%;
    }

    svg.machineDrill {
      width: 50%;
      height: 42.9%;
      top: 20%;
      left: -3%;
    }
  }
}

.board-container-about {
  @media screen and (max-width: 1200px)  {
    width: 400px;
  }
  @media screen and(min-width: 1200px) and (max-width: 1800px)  {
    width: 500px;
  }
  @media screen and(min-width: 1800px) {
    width: 600px;
  }
  height: fit-content;
  position: absolute;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  .position-container {
    position: relative;

    img {
      width: 100%;
    }
    .text {
      position: absolute;
      margin: 0 12%;
      font-size: 18px;
      font-family: 'Montserrat', 'Lucida Sans', Arial, sans-serif;
      top: 31%;
      left: 0;
      right: 0;
      @media screen and (max-width: 1200px)  {
        font-size: 17px;
      }
      @media screen and(min-width: 1200px) and (max-width: 1800px)  {
        font-size: 21px;
      }
      @media screen and(min-width: 1800px) {
        font-size: 25px;
      }
    }
    .title {
      position: absolute;
      text-align: center;
      font-size: 28px;
      font-weight: bold;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      top: 84%;
      left: 0;
      right: 0;

      @media screen and (max-width: 1200px)  {
        font-size: 28px;
      }
      @media screen and(min-width: 1200px) and (max-width: 1800px)  {
        font-size: 32px;
      }
      @media screen and(min-width: 1800px) {
        font-size: 36px;
      }
    }
  }

}

#infoBoardAbout.info-board-first-slide-in {
  animation: BOARD_SLIDE $boardSlideSpeed forwards;
}

#infoBoardAbout.info-board-after-slide {
  opacity: 1;
}

#infoBoardAbout {
  opacity: 0;
  filter: drop-shadow( 10px 10px 8px rgba(0, 0, 0, .7));
}

#screwAbout {
  animation: SCREW_SPIN $screwClickSpeed infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#machineArmAbout {
  animation: ARM_SWIN $armSwinSpeed infinite;
  transform-origin: top;
  transform-box: fill-box;
}

#machineDrillAbout {
  animation: DRILL_SWIN $drillSwinSpeed infinite;
  transform-origin: bottom left;
  transform-box: fill-box;
}

#redLightAbout {
  animation: RED_LIGHT 8s infinite linear;
}
#greenLightAbout {
  animation: GREEN_LIGHT 8s infinite linear;
}

///////////////
// keyframes //
///////////////

@keyframes BOARD_SLIDE {
  0% { transform: translateY(-30%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@-webkit-keyframes BOARD_SLIDE {
  0% { transform: translateY(-30%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes SCREW_SPIN {
  25% { transform: rotate(-90deg); }
  60% { transform: rotate(0); }
}

@-webkit-keyframes SCREW_SPIN {
  25% { transform: rotate(-90deg); }
  60% { transform: rotate(0); }
}

@keyframes ARM_SWIN {
  20% { transform: rotate(20deg); }
  40% { transform: rotate(0); }
  60% { transform: rotate(0); }
  75% { transform: rotate(-10deg); }
  90% { transform: rotate(0); }
}

@-webkit-keyframes ARM_SWIN {
  20% { transform: rotate(20deg); }
  40% { transform: rotate(0); }
  60% { transform: rotate(0); }
  75% { transform: rotate(-10deg); }
  90% { transform: rotate(0); }
}

@keyframes DRILL_SWIN {
  30% { transform: rotate(20deg); }
  50% { transform: rotate(0); }
  70% { transform: rotate(0); }
  80% { transform: rotate(-5deg); }
  90% { transform: rotate(0); }
}

@-webkit-keyframes DRILL_SWIN {
  30% { transform: rotate(20deg); }
  50% { transform: rotate(0); }
  70% { transform: rotate(0); }
  80% { transform: rotate(-5deg); }
  90% { transform: rotate(0); }
}

@keyframes CONVEYOR_SHORT {
  to {transform: translateX(1300px);}
}

@-webkit-keyframes CONVEYOR_SHORT {
  to {transform: translateX(1300px);}
}


@keyframes CONVEYOR_LONG {
  to {transform: translateX(110vw);}
}

@-webkit-keyframes CONVEYOR_LONG {
  to {transform: translateX(110vw);}
}

@keyframes NUTS_SHORT {
  to {transform: translateX(-700px);}
}

@-webkit-keyframes NUTS_SHORT {
  to {transform: translateX(-700px);}
}


@keyframes NUTS_LONG {
  to {transform: translateX(-70vw);}
}

@-webkit-keyframes NUTS_LONG {
  to {transform: translateX(-90vw);}
}

@keyframes RED_LIGHT {
  0% { filter: brightness(1);}
  1% { filter: brightness(.5);}
  51% { filter: brightness(.5);}
  52% { filter: brightness(1);}
  100% { filter: brightness(1);}
}

@-webkit-keyframes RED_LIGHT {
  0% { filter: brightness(1);}
  1% { filter: brightness(.5);}
  51% { filter: brightness(.5);}
  52% { filter: brightness(1);}
  100% { filter: brightness(1);}
}

@keyframes GREEN_LIGHT {
  0% { filter: brightness(.5);}
  1% { filter: brightness(1);}
  51% { filter: brightness(1);}
  52% { filter: brightness(.5);}
  100% { filter: brightness(.5);}
}

@-webkit-keyframes GREEN_LIGHT {
  0% { filter: brightness(.5);}
  5% { filter: brightness(1);}
  50% { filter: brightness(1);}
  55% { filter: brightness(.5);}
}

