// Speed
$bgChangeSpeed: .5s;

$spinSpeed1: 10s;
$spinSpeed2: 15s;

$starSlideSpeed: 2s;
$starZoomSpeed: .5s;

$womanSlideSpeed: 1s;
$womanClickSpeed: .5s;

$manAkSpeed: .3s;
$blackWomanSpeed: .5s;

$UFOZoomSpeed: .5s;
$UFOblinkSpeed: .5s;

$nutClickSpeed: .3s;

$bannerClickSpeed: .4s;

$planetBlinkSpeed: 2s;

$manWithBeerSpeed: .6s;

$blondieSpeed: .5s;

.app {
  padding: 5px 10px;
  .bg-container {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 16px;
    transition: opacity 1s linear;
    overflow: hidden;
  
    svg#NutsPageMain {
      display: block;
      width: 100%;
      border-radius: 16px;;
    }

    .lightBg {
      background: linear-gradient(180deg, #DBEAC4 5.66%, #DCE6C1 22.05%, #DED9B9 40.17%, #E1C4AC 57.42%, #E6A799 75.53%, #EC8684 91.92%); 
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      opacity: 0;
      transition: opacity $bgChangeSpeed linear;
    }
  
    .darkBg {
      background: linear-gradient(180deg, #827FFF 5.66%, #867FFB 20.33%, #9180EE 36.72%, #A381D9 52.24%, #BC83BC 68.63%, #DC8596 85.02%, #EC8684 91.92%);
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      opacity: 0;
      transition: opacity $bgChangeSpeed linear;
    }

    .lightBg.show {
      opacity: 1;
    }
    .darkBg.show {
      opacity: 1;
    }
  }


}

#openseaIcon {
  cursor: no-drop;
}

#twitterIcon, #discordIcon {
  cursor: pointer;
  transform-origin: center;
  transform-box: fill-box;
  transition: transform .1s ease;
  transition: filter .1s ease;
}

#twitterIcon:hover, #discordIcon:hover {
  filter: invert(50%);
  transform: scale(1.1);
}

#hole3 {
  width: 10px;
}

// planet
#planetLight1 {
  // visibility: hidden;
  animation: PLANET_BLINK $planetBlinkSpeed ease infinite;
}
#planetLight2 {
  // visibility: hidden;
  animation: PLANET_BLINK $planetBlinkSpeed ease infinite;
}
#planetLight3 {
  // visibility: hidden;
  animation: PLANET_BLINK $planetBlinkSpeed ease infinite;
}

g#bgPlanet2Nuts {
  -webkit-animation-name: SPIN_2;
  -webkit-animation-duration: $spinSpeed1;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: SPIN_2;
  -moz-animation-duration: $spinSpeed1;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: SPIN_2;
  -ms-animation-duration: $spinSpeed1;

  -ms-animation-timing-function: linear;
  
  animation-name: SPIN_2;
  animation-duration: $spinSpeed1;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  transform-origin: center;
  transform-box: fill-box;
}

// star
.star-first-slide-in {
  animation: SLIDE_IN_1 $starSlideSpeed forwards;
  -webkit-animation: SLIDE_IN_1 $starSlideSpeed forwards;
}

.after-slide:hover {
  cursor: pointer;
  animation: ZOOM_IN_OUT forwards $starZoomSpeed ease;
  transform-origin: center;
  transform-box: fill-box;
  filter: brightness(1.5);
}

// woman with makeup
.woman-with-makeup-first-slide-in {
  transform-origin: bottom;
  animation: WOMAN_MAKEUP_SLIDE_IN_2 forwards $womanSlideSpeed ease;
}

.woman-with-makeup-click-movemnt {
  transform-origin: bottom;
  animation: WOMAN_MAKEUP_CLICK_SLIDE forwards $womanClickSpeed ease;
}

img.womanWithMakeUpNuts {
  cursor: pointer;
  filter: drop-shadow( 10px 10px 8px rgba(0, 0, 0, .7));
  position: absolute;
  bottom: 0;
  right: 0;
  width: 19%;
  transition: all $womanSlideSpeed ease;
}

img.womanWithMakeUpNuts.hidden {
  transform: translateY(100%);
}

// man with beer
#manWithBeerNuts {
  width: 23%;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(0);
  transition: all $manWithBeerSpeed ease;
}

#manWithBeerNuts.hidden {
  transform: translateY(100%);
}

// man with ak-47
#manWithAKNuts {
  width: 15%;
  cursor: pointer;
  position: absolute;
  top: 67%;
  left: 30%;
  transform: scaleY(0.9);
  transform-box: fill-box;
  transform-origin: bottom;
  transition: all $manAkSpeed ease;
}

#manWithAKNuts:hover {
  animation: MAN_WITH_AK_BOUNCE forwards $manAkSpeed ease;
  transform-origin: bottom;
  transform-box: fill-box;
}

#manWithAKNuts.hidden {
  transform: scaleY(0);
}

#hole3Nuts {
  position: absolute;
  top: 89%;
  left: 28%;
  width: 18%;
}
// black woman with flag
#blackWomanWithFlagNuts {
  cursor: pointer;
  position: absolute;
  top: 56%;
  left: 14%;
  width: 26.3%;
  transition: all $blackWomanSpeed ease;
  transform-origin: bottom;
}

#blackWomanWithFlagNuts:hover {
  animation: BLACK_WOMAN_BOUNCE forwards $blackWomanSpeed ease;
  transform-origin: bottom;
  transform-box: fill-box;
}

#blackWomanWithFlagNuts.hidden {
  transform: scaleY(0);
}

// Blondie with flag
#blondieWithFlagNuts {
  width: 29%;
  position: absolute;
  top: 57%;
  left: 12%;
  transition: all $blondieSpeed ease;
  transform: scaleY(1);
  transform-origin: bottom;
  cursor: pointer;
}

#blondieWithFlagNuts.hidden {
  transform: scaleY(0);
}

#blondieWithFlagNuts:hover {
  animation: BLACK_WOMAN_BOUNCE forwards $blondieSpeed ease;
  transform-origin: bottom;
  transform-box: fill-box;
}


#hole1Nuts {
  position: absolute;
  left: 12%;
  top: 83%;
  width: 18%;
}

// UFO
#ufoLightNuts {
  position: absolute;
  top: 12.7%;
  left: 13.6%;
  width: 12.4%;
  transition: all $UFOZoomSpeed ease;
  transform: scale(1);
}

#ufoLightNuts.hidden {
  transform: scale(0);
}

#ufoNightNuts {
  position: absolute;
  width: 36%;
  height: 72%;
  top: 10%;
  left: 0;
  transform-origin: 55% 20%;
  transform: scale(1);
  transition: all $UFOZoomSpeed ease;
}

#ufoNightNuts.hidden {
  transform: scale(0);
}

#ufoLight1 {
  animation: UFO_BLINK $UFOblinkSpeed  ease infinite;
}

#ufoLight2 {
  animation: UFO_BLINK $UFOblinkSpeed $UFOblinkSpeed * 0.3 ease infinite;
} 

#ufoLight3 {
  animation: UFO_BLINK $UFOblinkSpeed $UFOblinkSpeed *0.67 ease infinite;
} 

// Nuts
#nutNuts {
  cursor: pointer;
}

#nutNuts:hover {
  animation: NUT_HOVER forwards $nutClickSpeed ease;
  transform-origin: 55% 100%;
  transform-box: fill-box;
}

// Banner
#bannerLightNuts {
  cursor: pointer;
}

#bannerLightNuts:hover {
  animation: BANNER_HOVER  $bannerClickSpeed ease;
  transform-origin: 55% 100%;
  transform-box: fill-box;
}

#joinUsPtr {
  animation: POINTER_PALSE 1s ease infinite;
}

///////////////
// keyframes //
///////////////

@-moz-keyframes SPIN_2 {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes SPIN_2 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes SPIN_2 {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@keyframes ZOOM_IN_OUT {
  0% {
    transform: scale(1, 1), rotate(0deg);
    filter: brightness(1);
  }
  50% {
    transform: scale(1.3, 1.3);
    filter: brightness(1.2);
  }
  100% {
    transform: scale(1, 1), rotate(360deg);
    filter: brightness(1);
  }
}

@keyframes SPIN_1 {
  from {transform:rotate(0deg);}
  to {transform:rotate(-360deg);}
}

@keyframes SLIDE_IN_1 {
  from { transform: translateY(-40%); }
}

@-webkit-keyframes SLIDE_IN_1 {
  from { -webkit-transform: translateY(-40%); }
}

@keyframes WOMAN_MAKEUP_SLIDE_IN_2 {
  0% { transform: translateY(100%) }
  100% { transform: translateY(0) }
}

@-webkit-keyframes WOMAN_MAKEUP_SLIDE_IN_2 {
  0% { transform: rotateX(90deg) }
  100% { transform: rotateX(0) }
}

@keyframes WOMAN_MAKEUP_SLIDE_OUT {
  0% { transform: translateY(0deg) }
  100% { transform: translateY(100%) }
}

@-webkit-keyframes WOMAN_MAKEUP_SLIDE_OUT {
  0% { transform: translateY(0deg) }
  100% { transform: translateY(100%) }
}

@keyframes WOMAN_MAKEUP_CLICK_SLIDE {
  20% { transform: rotate(5deg) }
  40% { transform: rotate(-5deg) }
  60% { transform: rotate(0) }

}

@-webkit-keyframes WOMAN_MAKEUP_CLICK_SLIDE {
  20% { transform: rotate(5deg) }
  40% { transform: rotate(-5deg) }
  60% { transform: rotate(0) }
}

@keyframes UFO_ZOOM_IN {
  0% { transform: scale(0) }
  100% { transform: scale(100%)}
}

@-webkit-keyframes UFO_ZOOM_IN {
  0% { transform: translateX(-10%) translateY(0%); }
  100% { transform: translateX(0%) translateY(0%); }
}

@keyframes UFO_CLICK {
  0% { transform:  rotate(0); }
  25% { transform:  rotate(15deg); }
  75% { transform:  rotate(-15deg); }
  100% { transform:  rotate(0); }
}

@-webkit-keyframes UFO_CLICK {
  0% { transform:  rotate(0); }
  25% { transform:  rotate(15deg); }
  75% { transform:  rotate(-15deg); }
  100% { transform:  rotate(0); }
}

@keyframes NUT_HOVER {
  50% { transform: scaleY(110%) scaleX(95%); }
  100% { transform: scaleY(1); }
}

@-webkit-keyframes NUT_HOVER {
  50% { transform: scaleY(110%) scaleX(95%); }
  100% { transform: scaleY(1); }
}

@keyframes BANNER_HOVER {
  50% { transform: rotateX(30deg) scaleX(105%); }
  100% { transform: rotateX(0deg) scaleX(1); }
}

@-webkit-keyframes BANNER_HOVER {
  50% { transform: rotateX(30deg) scaleX(105%); }
  100% { transform: rotateX(0deg) scaleX(1); }
}

@keyframes BLACK_WOMAN_BOUNCE {
  50% { transform: rotateX(30deg) scaleX(105%); }
  100% { transform: rotateX(0deg) scaleX(1) }
}

@-webkit-keyframes BLACK_WOMAN_BOUNCE {
  50% { transform: rotateX(30deg) scaleX(105%); }
  100% { transform: rotateX(0deg) scaleX(1); }
}

@keyframes MAN_WITH_AK_BOUNCE {
  50% { transform: rotateX(30deg) scaleX(105%) scaleY(.9) ; }
  100% { transform: rotateX(0deg) scaleX(1) scaleY(.9) }
}

@-webkit-keyframes MAN_WITH_AK_BOUNCE {
  50% { transform: rotateX(30deg) scaleX(105%) scaleY(.9) ; }
  100% { transform: rotateX(0deg) scaleX(1) scaleY(.9) }
}

@keyframes POINTER_PALSE {
  0% {
    transform:
      translateX(0)
      translateY(0)
  }
  20% {
    transform:
      translateX(-10px)
      translateY(-10px)
  }
  30% {
    transform:
      translateX(0)
      translateY(0)
  }
}

@-webkit-keyframes POINTER_PALSE {
  0% {
    transform:
      translateX(0)
      translateY(0)
  }
  20% {
    transform:
      translateX(-10px)
      translateY(-10px)
  }
  30% {
    transform:
      translateX(0)
      translateY(0)
  }
}

@keyframes PLANET_BLINK {
  0% { opacity: 1; }
  70% { opacity: .4; }
}

@-webkit-keyframes PLANET_BLINK {
  0% { opacity: 1; }
  70% { opacity: .4; }
}

@keyframes UFO_BLINK {
  0% { opacity: 1; }
  70% { opacity: .4; }
}

@-webkit-keyframes UFO_BLINK {
  0% { opacity: 1; }
  70% { opacity: .4; }
}
