#btnNuts,
#btnAbout,
#btnRoadmap,
#btnTeam,
#btnFAQs {
  cursor: pointer;
  transform-box: fill-box;
  transform-origin: center;
  transition: transform .1s ease;
}

#btnNuts:hover,
#btnAbout:hover,
#btnRoadmap:hover,
#btnTeam:hover,
#btnFAQs:hover {
  cursor: pointer;
  transform-origin: center;
  transform-box: fill-box;
  transform: scale(110%);
}

// connect wallet not ready
#connectWallet {
  display: none;
}