.team {
  .bg-container {
    position: relative;
    overflow: hidden;
    margin: 5px 10px;
    svg {
      width: 100%;
    }

    .title {
      position: absolute;
      top: 15%;
      left: 0;
      right: 0;
      width: 14%;
      margin: auto;
      text-align: center;
      font-family: Impact;
      font-style: normal;
      font-weight: 900;
      font-size: 31px;
      line-height: 38px;
      border-radius: 16px;
      padding: 1% 3%;
      border: 4px solid #fff;
      color: #fff;
    }

    .list-container {
      max-width: 960px;
      height: 70%;
      position: absolute;
      display: flex;
      top: 23%;
      left: 0;
      right: 0;
      margin: 0 auto;
      flex-wrap: wrap;
      justify-content: space-between;
      .member-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 23%;

        .photo {
          filter: drop-shadow( 5px 5px 4px rgba(0, 0, 0, .7));
          cursor: pointer;
          position: relative;

          img {
            border: 4px solid #fff;
            border-radius: 16px;
            width: 100%;
            max-width: 205px;
            max-height: 205px;
            transition: transform .3s ease, opacity .3s ease;
          }

          img.flipped {
            transform: rotateY(180deg);
            opacity: .2;
          }

          .motto {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 86%;
            top: 0;
            left: 0; 
            color: #fff;
            background-color: #000A;
            border-radius: 16px;
            padding: 5px;
            margin: 10px;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            font-family: 'Montserrat', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
            right: 0;
            opacity: 1;
            transition: transform .3s ease, opacity .3s ease;
          }

          .motto.flipped {
            opacity: 0;
            transform: rotateY(180deg);
          }

        }

        .description {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 16px;
          color: #fff;
          border: 4px solid #fff;
          width: 196px;
          height: 70px;
          padding: 4px 0;
          margin-top: 8%;
          font-family: Impact;

          .member-name {
            font-weight: bold;
          }
        }
      }
    }
  }
}