.team {
  padding: 5px 10px;
  .bg-container {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    background: linear-gradient(116.89deg, #EABCB6 19.33%, #E0C1BE 35.83%, #C5D0D4 63.75%, #AFDCE5 82.79%);

    @media screen and (max-width: 1200px)  {
      height: 1024px;
    }
    @media screen and(min-width: 1200px) and (max-width: 1800px)  {
      height: 1500px;
    }
    @media screen and(min-width: 1800px) {
      height: 1600px;
    }


    svg {
      width: 100%;
    }

    .title {
      position: absolute;
      top: 15%;
      left: 0;
      right: 0;
      width: 14%;
      max-width: 300px;
      margin: auto;
      text-align: center;
      font-family: Impact;
      font-style: normal;
      font-weight: 900;
      font-size: 31px;
      line-height: 38px;
      border-radius: 16px;
      padding: 10px 20px;
      border: 4px solid #fff;
      color: #fff;

      @media screen and (max-width: 1200px)  {
        font-size: 31px;
      }
      @media screen and(min-width: 1200px) and (max-width: 1800px)  {
        font-size: 36px;
      }
      @media screen and(min-width: 1800px) {
        font-size: 42px;
      }
    }

    .list-container {
      max-width: 1600px;
      height: 70%;
      position: absolute;
      display: flex;
      top: 23%;
      left: 0;
      right: 0;
      margin: 0 auto;
      flex-wrap: wrap;
      justify-content: space-evenly;

      @media screen and (max-width: 1200px)  {
        font-size: 16px;
      }
      @media screen and(min-width: 1200px) and (max-width: 1800px)  {
        font-size: 22px;
      }
      @media screen and(min-width: 1800px) {
        font-size: 22px;
      }

      .member-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 23%;

        .photo {
          filter: drop-shadow( 5px 5px 4px rgba(0, 0, 0, .7));
          cursor: pointer;
          position: relative;

          img {
            border: 4px solid #fff;
            border-radius: 16px;
            width: 100%;
            max-width: 205px;
            max-height: 205px;
            transition: transform .3s ease, opacity .3s ease;
          }

          img.flipped {
            transform: rotateY(180deg);
            opacity: .2;
          }

          .motto {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 86%;
            top: 0;
            left: 0; 
            color: #fff;
            background-color: #000A;
            border-radius: 16px;
            padding: 5px;
            margin: 10px;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            font-family: 'Montserrat', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
            right: 0;
            opacity: 1;
            transition: transform .3s ease, opacity .3s ease;
          }

          .motto.flipped {
            opacity: 0;
            transform: rotateY(180deg);
          }

        }

        .description {
          text-transform: uppercase;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 16px;
          color: #fff;
          border: 4px solid #fff;
          width: 196px;
          height: 70px;
          padding: 4px 0;
          margin-top: 8%;
          font-family: Impact;

          @media screen and (max-width: 1200px)  {
            font-size: 16px;
          }
          @media screen and(min-width: 1200px) and (max-width: 1800px)  {
            font-size: 20px;
          }
          @media screen and(min-width: 1800px) {
            font-size: 20px;
          }

          .member-name {}
        }
      }
    }
  }
}